body {
  padding-top: 70px;
  	
}
.navbar-brand,
legend, h1, p
{
font-family:'Oswald','Helvetica Neue',sans-serif;
}
.navbar-brand,
p
{
/*font-style: italic;*/
}
.control-label{

}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
/*.container {
    padding-right: 120px;
    padding-left: 120px;
}*/