body {
  min-height: 2000px;
  padding-top: 70px;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
/*.container {
    padding-right: 120px;
    padding-left: 120px;
}*/